<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghw.sdk2"
    android:versionCode="13"
    android:versionName="3.6" >

	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.ghw.sdk2.WASdk4UnityActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.wa.sdk.APP_ID"
            android:value="f7f9a9d18da611e5a0be000d3a906774" />

        <meta-data
            android:name="com.wa.sdk.APP_KEY"
            android:value="CFHF7nQCCaojCX6Sm4eT1GEIWRprimgX" />

        <meta-data
            android:name="com.wa.sdk.HTTP_BASE_URL"
            android:value="http://sdk-test1.gamehollywood.com/sdkapi" />

        <meta-data
            android:name="com.wa.sdk.track.BASE_URL"
            android:value="http://sdk-test2.gamehollywood.com/data_collection/data/forward" />

		<!-- Facebook Start -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1811388679079227"
            android:exported="true" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!-- Facebook End -->

		<!-- Chartboost SDK START -->
        <!-- Chartboost app id -->
        <meta-data
            android:name="com.wa.sdk.track.CHARTBOOST_APP_ID"
            android:value="55b74c74c909a66b8af388a7" />
        <!-- Chartboost app signature -->
        <meta-data
            android:name="com.wa.sdk.track.CHARTBOOST_APP_SIGNATURE"
            android:value="2b7b5cbc8c5d0429c9498dd3484d84fb4974a206" />
        <!-- Chartboost SDK END -->

		<!-- AppsFlyer SDK START -->
        <!-- AppsFlyer AppKey(需要自己申请) -->
        <meta-data
            android:name="com.wa.sdk.track.APPSFLYER_APP_KEY"
            android:value="922wXRJwEns6Qj4MfMt4Gg" />
        <!-- AppsFlyer Channel -->
        <meta-data
            android:name="CHANNEL"
            android:value="GOOGLE" />
        <!-- AppsFlyer SDK END -->

		
      
      <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/google_game_app_id" />
      
    </application>

</manifest>
